<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.markazandroid.advertiser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:persistent="true"
        android:name=".AdvertiserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <service android:name=".notification.TokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.UnAssignedActivity"
            android:launchMode="singleInstance" />

        <service
            android:name=".KeepAliveService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".util.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.KeepAliveActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="894da9e4200b26c4fa075b526647186e411d07a3" />

        <receiver
            android:name=".event.PoliceEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ir.markazandroid.police.event.BaseEvent.ACTION_EVENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".event.LauncherEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ir.markazandroid.launcher.event.BaseEvent.ACTION_EVENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>