<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.markazandroid.advertiser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AdvertiserApplication"
        android:allowBackup="true"
        android:icon="@drawable/unigold"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".activity.GoldActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.util.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".notification.TokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.authentication.LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.authentication.EnterNameActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.authentication.ShowAuthenticationDetailsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.UnAssignedActivity"
            android:launchMode="singleInstance" />

        <service
            android:name=".PoliceService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".util.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.PoliceActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="894da9e4200b26c4fa075b526647186e411d07a3" />

        <activity android:name=".view.gold.camera.GoldCameraActivity"></activity>
    </application>

</manifest>